@import "tailwindcss";

 /* placeholder and paragraph  */
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Anton+SC&family=Cabin:ital,wght@0,400..700;1,400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

@theme{
  /* placeholder and paragraph  */
  --font-display:  "Edu AU VIC WA NT Guides", cursive;
    --font-heading: "Oswald", sans-serif;


}
.toggle-box {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
  z-index: 10;
  transition: 1.8s ease-in-out;
}

/* Moving background effect */
.toggle-box::before {
  content: '';
  position: absolute;
  width: 300%;
  height: 100%;
  background: #7494ec;
  border-radius: 150px;
  left: -100%;
  top: 0;
  z-index: -1;
  transition: 1.8s ease-in-out;
}

/* When signup is active, slide background */
.container.active .toggle-box::before {
  left: 0;
}